body{
    background-color: white;
    color: black;
    
    .menu{
        position: absolute;
        flex-direction: column;
        display: flex;
        top: 50px;
        right: 405px;
        margin: 5px 0;
        width: 5%;
    }
    .logo-cabecalho{
        margin: 0 40%;
        width: 20%;
        cursor: pointer;
    }
    .botao-pratos{
        width: 5%;
        height: auto;
    }
}
